body {
    background-color: #44983c;
} 
.name {
    font-size: 50px;
    font-style: oblique
}
.pl {
    font-kerning: initial
    
    
}   

.kkk {
    background-color: #ffffff
}

.peop {
    background-color: black;
    color: #000001
}

.pope {
    background-color: #017297
}
.ppp {
    background-color: #ff1345
}